#map{
	width:800px;
	height:800px;
	display: inline-block;
}
body{
	background-color: #fbe37a;
}
div{
	display: inline-block;
}

.leaflet-control-layers{
	height: auto;
	width:80px;
}
#guzik{
	float:right;
	margin-right:25%;
}
.leaflet-control-layers-toggle{
	margin-left:20px;
}